<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>522288397815-31e9ri9h196q4djtrrt61jdjdra94292.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522288397815-31e9ri9h196q4djtrrt61jdjdra94292</string>
	<key>API_KEY</key>
	<string>AIzaSyC0pRAMzw2g1rEmdwV_ZUNUO_D4kdFhLhs</string>
	<key>GCM_SENDER_ID</key>
	<string>522288397815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.max.fastchat</string>
	<key>PROJECT_ID</key>
	<string>fastchat-128cd</string>
	<key>STORAGE_BUCKET</key>
	<string>fastchat-128cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522288397815:ios:6d016ae43e8fb117</string>
	<key>DATABASE_URL</key>
	<string>https://fastchat-128cd.firebaseio.com</string>
</dict>
</plist>